#Profile {
  margin: 0px;
}
#Profile .profile-top {
  display: flex;
  justify-content: space-between;
}
#Profile .profile-top span,
svg {
  color: rgb(127, 127, 127);
}
#Profile .profile-top a {
  display: flex;
  align-items: center;
}
#Profile .profile-img {
  text-align: center;
  padding: 20px;
}
#Profile .profile-bottom {
}
#Profile .info-option {
  display: inline-block;
  text-align: center;
  color: #767676;
  font-size: calc(110%);
}
#Profile .info-des {
  font-size: calc(120%);
  display: inline-block;
  width: 150px;
}
