#MenuDetail {
  padding-top: calc(
    1vh
  ); /*!물어보기 드래그바가 있으면서 24인치와 32인치가 자동적으로 될수는 없는지!*/
}
#MenuDetail .all-block {
  flex-direction: column;
  margin: 0 auto;
  width: calc(94%);
  border: 1.5px solid #ddd;
  margin-bottom: calc(3vh);
}
#MenuDetail .top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid #ddd;
  padding: 10px;
}
#MenuDetail .menu-title {
  font-size: 35px;
}
#MenuDetail .HotnIce button {
  margin: 0px 10px 0px 0px;
  width: 100px;
  height: 50px;
  background-color: #2e2e2e;
  color: white;
  border: none;
}
#MenuDetail .bottom {
  height: calc(75vh);
  display: flex;
}
#MenuDetail .left-block {
  flex-direction: column;
  flex: 2;
  min-height: 500px;
  border-right: 1.5px solid #ddd;
}
#MenuDetail .left-top {
  height: calc(75vh - 250px);
  border-bottom: 1.5px solid #ddd;
  overflow: hidden; /*안하면 사진이 지정된 크기에서 벗어나게 됨*/
}
#MenuDetail .left-bottom {
  padding: 30px;
  height: 250px;
  word-break: normal;
  font-size: 18px;
}
#MenuDetail .right-block {
  flex-direction: column;
  display: flex;
  flex: 3;
}
#MenuDetail .right-top {
  padding-right: 15px;
  padding-top: 15px;
  flex: 1;
}
#MenuDetail .right-top a {
  float: right;
  font-size: 18px;
}
#MenuDetail .right-middle {
  flex: 10;
  padding: 20px;
  word-break: normal;
  font-size: 18px;
}
#MenuDetail .right-bottom {
  flex: 1;
  padding-right: 15px;
  padding-bottom: 15px;
}
#MenuDetail .right-bottom a {
  float: right;
  top: 50%;
  margin: 10px;
  font-size: 18px;
}
#MenuDetail .left-top img {
  width: 100%;
  height: 100%;
}
