#MenuDetail {
  background-color: #fefefe;
  padding-top: 40px;
  height: calc(91vh);
}
#MenuDetail .all-block {
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  height: calc(82vh);
  width: calc(93%);
  border: 1.5px solid #ddd;
}
#MenuDetail .top {
  flex: 1;
  border-bottom: 1.5px solid #ddd;
  font-size: 30px;
}
#MenuDetail .bottom {
  display: flex;
  flex: 13;
}
#MenuDetail .left-block {
  flex-direction: column;
  display: flex;
  flex: 1;
  border-right: 1.5px solid #ddd;
}
#MenuDetail .left-top {
  flex: 1.5;
  border-bottom: 1.5px solid #ddd;
}
#MenuDetail .left-bottom {
  padding: 30px;
  flex: 1;
  word-break: normal;
  font-size: 17px;
}
#MenuDetail .right-block {
  flex-direction: column;
  display: flex;
  flex: 1;
}
#MenuDetail .right-top {
  padding-right: 15px;
  padding-top: 15px;
  flex: 1;
}
#MenuDetail .right-top a {
  float: right;
  font-size: 18px;
}
#MenuDetail .right-middle {
  flex: 15;
  padding: 20px;
  word-break: normal;
  font-size: 17px;
}
#MenuDetail .right-bottom {
  flex: 1;
  padding-right: 15px;
  padding-bottom: 15px;
}
#MenuDetail .right-bottom a {
  float: right;
  top: 50%;
  margin: 10px;
  font-size: 18px;
}
