#MenuRecipeList {
}
#MenuRecipeList .all-block {
  flex-direction: column; /*세로정렬(위->아래)*/
  width: 100%;
}
#MenuRecipeList .list {
  overflow: hidden;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: calc(2vh);
  min-height: 750px;
  height: calc(78vh);
}
#MenuRecipeList .top-block {
  flex: 10;
}
#MenuRecipeList li {
  float: left;
  width: 250px;
  height: 320px;
  margin: 20px;
}
#MenuRecipeList img {
  width: 250px;
  height: 300px;
}
#MenuRecipeList .bottom-block {
  display: flex;
  justify-content: space-between;
  flex: 2;
}
#MenuRecipeList .image-box {
  width: 250px;
  height: 300px;
  float: block;
  display: flex;
}
#MenuRecipeList .name-box {
  float: left;
}

#MenuRecipeList input {
  width: 500px;
  height: 42px;
  border: 0 none;
  box-sizing: border-box;
  background-color: #fefefe;
  border-bottom: 1px solid #bdbdbd;
  margin: 0;
  padding: 0;
  float: right;
}
#MenuRecipeList button {
  width: 34px;
  height: 42px;
  background-color: #fefefe;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 0px;
  float: right;
}
