@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");
#commuting .back_ground {
  height: calc(100vh);

  width: 100%;
}
#commuting .container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
#commuting .middle {
  display: flex;
  max-height: 800px;
  height: 600px;
  width: 100%;
  background-image: url(cafe.jpg);
  background-size: cover;
}
#commuting .left {
  width: 500px;
}
#commuting .right {
  width: 400px;
  font-size: 30px;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  position: relative; /*position에서 고정될 범위*/
}
#commuting .clock {
  margin: auto;
  margin-top: 50px;
  font-size: 40px;
  font-family: "Stylish", sans-serif;
}
#commuting #button_display {
  height: 400;
  margin-top: 90px;
}
#commuting #button_display button {
  margin: 30px;
  height: 80px;
  width: 250px;
  font-size: 45px;
  font-family: "Stylish", sans-serif;
  border: 1px solid white;
  border-color: #3b240b;
  background-color: #3b240b;
  color: white;
  border-radius: 50px;
}

#commuting #button_display button:hover {
  margin: 30px;
  height: 80px;
  width: 250px;
  font-size: 45px;
  font-family: "Stylish", sans-serif;
  border: 1px solid #3b240b;
  background-color: white;
  color: #3b240b;
  border-radius: 50px;
}
#commuting .right_box {
  position: absolute; /*position에서 움직이는 아(x축과 y축을 꼭 주어야 함)*/
  bottom: 50px;
  right: 65px;
}
