body {
  padding: 0px;
  margin: 0px;
}
#Join .back-ground {
  height: calc(100vh); /*화면안에 정가운데에 옮기는 작업(장소)*/
  width: 100%;
}
#Join .join_form {
  left: 50%; /*화면안에 정가운데에 옮기는 작업(물건)*/
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 455px;
  min-width: 455px;
  height: 680px;
  position: block;
}
#Join .joinform_title {
  margin-bottom: 45px;
  font-size: 30px;
  color: #333;
}
#Join input,
button {
  background-color: #fafafa;
  height: 25px;
  width: 450px;
  margin-bottom: 40px;
  border: #fff;
  border-bottom: 2px solid #d8d8d8;
}
#Join button[type="submit"] {
  height: 35px;
  background-color: #424242;
  color: #fff;
}
#Join .password_input {
  margin-bottom: 10px;
}
#Join .email_check {
  background-color: #d8d8d8;
  width: 90px;
  height: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  float: right;
}
#Join .explain {
  margin-bottom: 30px;
  font-size: 11px;
}
#Join input[type="number"]::-webkit-outer-spin-button,  /*input옆에 있는 버튼 없애기*/
  #Join input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
