#Join {
  padding-top: 160px;
}
#Join .join_form {
  margin: 0 auto;
  width: 455px;
  height: 700px;
}
#Join .joinform_title {
  margin-bottom: 45px;
  font-size: 30px;
  color: #333;
}
#Join input,
button {
  background-color: #fefefe;
  height: 25px;
  width: 450px;
  margin-bottom: 50px;
  border: #fff;
  border-bottom: 2px solid #d8d8d8;
}
#Join button[type="submit"] {
  height: 35px;
  background-color: #424242;
  color: #fff;
  margin: 0px;
}
#Join .password_input {
  margin-bottom: 10px;
}
#Join .email_check {
  background-color: #d8d8d8;
  width: 90px;
  height: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  float: right;
}
#Join .explain {
  margin-bottom: 40px;
  font-size: 11px;
}
#Join input[type="number"]::-webkit-outer-spin-button,  /*input옆에 있는 버튼 없애기*/
  #Join input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
