#Login .back-ground {
  height: cale(100vh);
  width: 100%;
}
#Login .login-form {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);

  width: calc(40%);
  height: calc(40%);
}
.login-title {
  text-align: center;
  padding-bottom: calc(7%);
  font-size: calc(200%);
  color: #333;
  margin-bottom: 10px;
}
#Login input {
  width: 100%;
  height: calc(20%);
  margin-bottom: 30px;
  padding: 5px;
  border: #fafafa;
  border-bottom: 2px solid #d8d8d8;
  background-color: #fafafa;
}
.login-form button {
  width: 100%;
  height: 40px;
}
.login-form .login-manage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  font-size: 13px;
}
.login-form .login-btn {
  margin: 5px 0;
  background-color: #424242;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}
