#NoticeEdit {
  background-color: #fefefe;
}
#NoticeEdit .back-ground {
  padding-top: calc(6vh);
  height: calc(90vh);
  width: 100%;
}
#NoticeEdit .upload-form {
  margin: 0 auto;
  width: 870px;
}
#NoticeEdit .input-title {
  width: 100%;
  font-size: 46px;
  border: 0 none;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #fefefe;
}
#NoticeEdit .upload-cont {
  height: 600px;
  overflow: scroll; /*드래그 바*/
  overflow-x: hidden;
  /*가로 스크롤바를 숨김 따라서 DIV 영역 너비를 넘는 오른쪽 부분은 보이지 않음*/
  margin-bottom: 40px;
}
#NoticeEdit button {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
  background-color: #4d4d4d;
}
