@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
.back_ground{
  height: calc(100vh);

  width:100%;
}
.container{
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
.middle{
  display:flex;
  max-height: 800px;
  height: 600px;
  width:100%;
  background-image:url(cafe.jpg);
  background-size:cover;
}
.left{
  width:500px;
}
.right{
  width:400px;
  font-size:30px;
  font-family: 'Noto Sans KR', sans-serif;
  color:white;
  position: relative; /*position에서 고정될 범위*/
}
.clock{
  margin:auto;
  margin-top: 50px;
  font-size:40px;
  font-family: 'Stylish', sans-serif;
}
#button_display{
  height:400;
  margin-top:90px;
}
#button_display input[type="button"]{
  margin:30px;
  height:80px;
  width:250px;
  font-size:45px;
  font-family: 'Stylish', sans-serif;
  border:1px solid white;
  border-color:#3B240B;
  background-color: #3B240B;
  color:white;
  border-radius : 50px;
}

#button_display input[type="button"]:hover{
  margin:30px;
  height:80px;
  width:250px;
  font-size:45px;
  font-family: 'Stylish', sans-serif;
  border:1px solid #3B240B;
  background-color: white;
  color:#3B240B;
  border-radius : 50px;
}
.right_box{
  position: absolute; /*position에서 움직이는 아(x축과 y축을 꼭 주어야 함)*/
  bottom: 50px;
  right: 65px;
}
