@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

#Header {
  border-bottom: 1px solid #d8d5d5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #2e2e2e;
  min-width: 930px;
}

#Header .header-menu {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  z-index: 10;
}

#Header .header-logo {
  padding-left: 20px;
}

#Header .header-logo a {
  display: flex;
  align-items: center;
}

#Header .header-logo svg {
  color: rgb(18, 113, 175);
}

#Header .header-logo .h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  padding: 0px 60px 0px 5px;
  font-size: 30px;
  color: #ffffff;
}

#Header .header-nav {
  display: flex;
  width: 100%;
  justify-content: space-between; /*크기만큼 알아서 공백을 줌*/
  align-items: center;
}

#Header .header-nav .left-nav li {
  float: left;
  font-size: 18px;
  border-radius: 10px;
}

#Header .header-nav .left-nav li a {
  color: #f2f2f2;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 10px;
}

#Header .header-nav .right-nav li {
  float: left;
  padding: 10px 13px;
  font-size: 16px;
  color: #f2f2f2;
}
#Header a {
  color: #f2f2f2;
}
#Header img {
  width: 45px;
  height: 45px;
}
