#NoticeDetail {
  background-color: #fefefe;
}
#NoticeDetail .back-ground {
  min-height: calc(85vh);
  width: 100%;
}
#NoticeDetail .detail-form {
  margin: 0 auto;
  width: 850px;
  /*margin은 밖에서 밀고 padding은 안에서 민다(몸집이 불어나는 성격)*/
  /*200이었던 아이한테 padding 20을 주면 220이 된다*/
}
#NoticeDetail .detail-title {
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 22px;
}
#NoticeDetail .title-bottom {
  display: flex;
  font-weight: 100;
  justify-content: space-between;
  color: #a4a4a4;
  padding-bottom: 10px;
  border-bottom: 1px solid #bdbdbd;
}
#NoticeDetail .detail-date {
  font-size: 15px;
}
#NoticeDetail .title-bottom a {
  color: #6e6e6e;
  font-size: 16px;
}

#NoticeDetail .datail-middle {
  margin-top: 30px;
  padding-bottom: 35px;
  border-bottom: 1px solid #bdbdbd;
}
#NoticeDetail .detail-cont {
  /*overflow-y: auto;*/
  /*안에 내용이 길어지면 스크롤바를 이용하여 내릴수 있게 함*/
  /*나는 전체적으로 드래그바가 생기게 하고 싶은데 어떻게 하는지 모르겠음;;;*/
  min-height: calc(55vh);
  width: 100%;
  word-break: normal;
  display: inline-block;
}
#NoticeDetail .datail-bottom {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#NoticeDetail .bottom-left a {
  float: left;
  width: 98px;
  height: 38px;
  margin-right: 10px;
  border: 1px solid #1e1e1e;
  font-size: 14px;
  line-height: 38px;
  color: #1e1e1e;
  text-align: center;
  text-decoration: none;
}
#NoticeDetail .bottom-right a {
  float: right;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
  background-color: #4d4d4d;
  text-align: center;
  text-decoration: none;
}
